.bg-conic-yellow {
  background: conic-gradient(from -270deg at 50% -5%, yellow, yellowgreen);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #f02fc2 0%, #6094ea 100%);
}

.bg-gradient-green {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.active {
  text-decoration: underline;
}

.waves {
  transform: rotate(180deg);
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  justify-self: stretch;
}

.footer {
  margin-top: auto;
}

.button-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.button-shadow:hover {
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition-property: all;
  transition-duration: 500ms;
}
.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid rgba(0, 0, 0, 0.747);
  font-size: 35px;
  white-space: nowrap;
  animation: typewriter 3s steps(24) 1s 1 normal both,
    blinkTextCursor 1000ms steps(24) infinite normal;
}

/*  animation-name: typewriter;
  animation-duration: 5s;
  animation-timing-function: steps(24);
  animation-delay: 1s;
  animation-iteration: 1;
  animation-diretion: normal; 
  animation-fill-mode: both */

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.747);
  }
  to {
    border-right-color: transparent;
  }
}
