.bg-conic-yellow {
  background: conic-gradient(from -270deg at 50% -5%, yellow, yellowgreen);
}
.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid rgba(0, 0, 0, 0.747);
  font-size: 35px;
  white-space: nowrap;
  animation: typewriter 3s steps(24) 1s 1 normal both,
    blinkTextCursor 1000ms steps(24) infinite normal;
}

/*  animation-name: typewriter;
  animation-duration: 5s;
  animation-timing-function: steps(24);
  animation-delay: 1s;
  animation-iteration: 1;
  animation-diretion: normal; 
  animation-fill-mode: both */

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.747);
  }
  to {
    border-right-color: transparent;
  }
}
